.container{
    width: 94vw;
    border: 2px solid white;
    border-radius: 6px;
    margin: auto;
    background-color: #EACDCF;
    z-index: 1;
}

.ctn-inner{
    margin: 5px;
}

.tabs{
    display: flex;
    justify-content: space-around;
    height: 80px;
}

.h2Wrapper{
    border: 1px solid white;
    width: 33.3333%;
    border-radius:6px 6px 0 0;
    text-align: center;
}

.content{
    padding: 10px 20px 30px 20px;
    background-color: white;
    border-radius: 0 0 6px 6px;
    color: #A4AEA5;
}

h3:hover{
    cursor:default;
    color: #AA6D78;
}

@media(min-width:520px){
    .container{
        width: 600px;
        height: 350px;
    }
    .ctn-inner{
        height: 338px;
    }
    .content{
        height: 238px;
    }
    .tabs{
        height: 60px;
    }
}

@media(min-width:1470px){
    .container{
        width: 500px;
        height: 400px;
    }
    .ctn-inner{
        height: 388px;
    }
    .content{
        height: 288px;
    }
    .tabs{
        height: 60px;
    }

}