#Landing{
    background-image: url('./../Assets/pinkKeyboard.jpeg');
    background-position: 10% 10%;
    background-size: cover;
    width: 100vw;
    background-color: #EACDCF;
    color: white;
    position: fixed;
    top: 0;
    padding-bottom: 50px;
    height: 2000px;
}

#heading{
    text-align: center;
    margin: 40px;
}

#heading h1{
    font-size: 50px;
}

.Nav{
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 3;
    background: #EACDCF;
}

.Nav h3{
    width: 200px;
    border-bottom: 2px solid white;
    font-size: 30px;
    margin: 40px;
    transition: width 0.5s;
}

.Nav h3:hover{
    cursor:default;
    color: #AA6D78;
    font-size: 32px;
}


@media(min-width: 520px){
    #Landing{
        height: 100vh;
        padding-bottom: 0;
    }
    
}

@media(min-width: 800px){
    .Nav{
        z-index: -1;
        background: none;
    }
}

@media(min-width: 1470px){
    .Nav h3:hover{
        width: 400px;
    }    
}