.content h1{
    color: #AA6D78;
    margin-bottom: 50px;
}

projects h2{
    border: 2px solid #AA6D78;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;    
}

projects h2:hover, #last{
    background-color: #AA6D78;
    color: white;
}

